<?xml version='1.0' encoding='utf-8'?>
<widget id="rca.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RCA - PAGAMENTOS ROFE</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <!-- this hook will point your config.xml to the DevServer on Serve -->
    <hook type="after_prepare" src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="*" />
    <allow-navigation href="*"/>
    <preference name="MixedContentMode" value="2" />
    <preference name="Scheme" value="http" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="land-hdpi" src="../src/assets/background.jpg" />
        <splash density="land-xhdpi" src="../src/assets/background.jpg" />
        <splash density="land-xxhdpi" src="../src/assets/background.jpg"/>
        <splash density="land-xxxhdpi" src="../src/assets/background.jpg" />
        <splash density="port-hdpi" src="../src/assets/background.jpg" />
        <splash density="port-xhdpi" src="../src/assets/background.jpg" />
        <splash density="port-xxhdpi" src="../src/assets/background.jpg" />
        <splash density="port-xxxhdpi" src="../src/assets/background.jpg" />
        <icon density="hdpi" src="../src/assets/favicon-16x16.png" />
        <icon density="xhdpi" src="../src/assets/favicon-16x16.png" />
        <icon density="xxhdpi" src="../src/assets/favicon-16x16.png" />
        <icon density="xxxhdpi" src="../src/assets/favicon-16x16.png" />
    </platform>
    <platform name="browser">
        <preference name="ShowSplashScreen" value="true" />
    </platform>
    
    

</widget>
